# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = false #was true before
trim_trailing_whitespace = false #was true before, changed because of problems with editor

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
