@import '../../../assets/colors';

.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task-header {
  background-color: map_get($dark, 900);
  color: white;
  margin-bottom: 2rem;
}

button {
  padding: 0;
}

.tasks {
  background-color: whitesmoke;
  color: black;
}

mat-card-header {
  background-color: map_get($my-primary, 700);
  color: white;
}

mat-icon {
  font-weight: 700;
}


mat-card-actions {
  justify-content: center;
}