<!-- this is to list to-do tasks or archived tasks -->
<div class="todos-container px-1">
  <app-header></app-header>
  <app-todos-new (onAddTask)="addTask($event)"></app-todos-new>
  <mat-card class="task-header p-1 mb-3">
    <h6>Date: 01-01-23</h6>
    <mat-card-content>
      2/10 Tasks Completed
    </mat-card-content>
  </mat-card>
  <div>
    <mat-card class="tasks mb-1">
      <mat-card-header class="mb-2">Tasks for today:</mat-card-header>
      <mat-card-content class="mb-2">
          <app-task-item
          *ngFor="let task of tasks"
          [todo]="task"
          (toDelete)="onDelete(task)"
          (toComplete)="onComplete(task)">
          </app-task-item>
        </mat-card-content>
      <mat-card-actions>
        <app-filter></app-filter>
      </mat-card-actions>
    </mat-card>

  </div>

</div>