<<<<<<< Updated upstream
=======
@import '../../../assets/colors';
>>>>>>> Stashed changes

.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task-header {
<<<<<<< Updated upstream
  background-color: grey;
=======
  background-color: map_get($accent, 500);
>>>>>>> Stashed changes
  margin-bottom: 2rem;
}

button {
  padding: 0;
}

mat-icon {
  font-weight: 700;
}
