.tasks {
  background-color: whitesmoke;
  color: black;
}

mat-icon {
  cursor: pointer;
}

mat-icon:hover,
mat-icon:active {
  color: rgb(158, 4, 89);
}

mat-card-actions {
  justify-content: center;
}
