@import '../../../../assets/colors';

.tasks {
  background-color: whitesmoke;
  color: black;
}

mat-card-header {
  background-color: map_get($my-primary, 700);
  color: white;
}

mat-icon {
  cursor: pointer;
}

mat-icon:hover,
mat-icon:active {
  color: rgb(158, 4, 89);
}

mat-card-actions {
  justify-content: center;
}
