#app-container {
  width: 370px;
  padding: 1.2rem;
  overflow: hidden;
  min-height: 650px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< Updated upstream
  background-color: rgb(30, 30, 31);
=======
  background-color: #eee;
>>>>>>> Stashed changes
}
