#app-container {
  width: 370px;
  padding: 2.2rem;
  overflow: hidden;
  min-height: 650px;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: auto 0;
  background-color: #eee;
}

.wavy-background {
  background-image: url(../assets/wavy-bckground.png);
  background-size: cover;
  background-position: center;
}