<mat-card>
    <mat-card-title class="text-center p-1">
      <h2>Register</h2>
    </mat-card-title>

    <mat-card-content class="p-3">

      <form [formGroup]="registerForm" (ngSubmit)="toRegister()" class="p-1 mb-3">

        <div class="d-flex flex-column">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>

        <!-- <div class="text-error text-center">
          <div
            *ngIf="emailField && (emailField.dirty || emailField.touched) && emailField.errors"
            class="errors">
            <span *ngIf="emailField.errors['required']">Email is required</span>
            <span *ngIf="emailField.errors['email']">Email must be valid</span>
          </div>

          <div
            *ngIf="passwordField && (passwordField.dirty || passwordField.touched) && passwordField.errors"
            class="errors">
            <span *ngIf="passwordField.errors['required']">Password is' required</span>
          </div>

          <p *ngIf="errorMsg">{{ errorMsg }}</p>
        </div>
   -->
        <div class="text-center">
          <button type="submit" mat-flat-button color="primary" [disabled]="isSubmit">Register</button>
        </div>

      </form>

      <p class="text-center">No Account yet? Login <a routerLink="/login">here</a></p>
    </mat-card-content>
  </mat-card>
