<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button aria-label="house icon" routerLink="/todos">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button aria-label="folder icon" routerLink="/reminders">
      <mat-icon>add_alert</mat-icon>
    </button>

    <button mat-icon-button aria-label="person icon" routerLink="/login">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button aria-label="logout icon" click="onLogout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
