
@use '@angular/material' as mat;

// Theme configuration
$dark: mat.$deep-purple-palette;

// // $custom-accent:  mat.define-palette($mat-blue, A200, A100, A400);
$my-primary: mat.$pink-palette;
$accent: mat.$cyan-palette;
$warn: mat.$amber-palette;
$success: mat.$green-palette;
$danger: mat.$red-palette;


// // Custom colors
$custom-colors: (
  custom-color-a: mat.define-palette(mat.$green-palette, 500),
  custom-color-b: mat.define-palette(mat.$red-palette, 400),
);

$grey: mat.define-palette(mat.$grey-palette, 800);
$light: mat.define-palette(mat.$grey-palette, 100);
